## Project 1

In [11]:
import pandas as pd
import numpy as np

In [54]:
# Zoo data is boolean
zoo_data = pd.read_csv("zoo.data", 
                        names = ['Animal Name', 'Hair', 'Feathers', 'Eggs',
                                 'Milk', 'Airborne', 'Aquatic', 'Predator',
                                 'Toothed', 'Backbone', 'Breathes', 'Venomous',
                                 'Fins', 'Legs', 'Tail', 'Domestic', 'Catsize', 'Type']
                      )

In [56]:
zoo_data

,Animal Name,Hair,Feathers,Eggs,Milk,Airborne,Aquatic,Predator,Toothed,Backbone,Breathes,Venomous,Fins,Legs,Tail,Domestic,Catsize,Type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2