In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

adults = pd.read_csv('adult.data', header=None, skipinitialspace=True,
    names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
            'marital-status', 'occupation', 'relationship', 'race', 'sex',
            'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']
)

In [2]:
adults

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## What are the 25th, 50th, and 75th pecentiles of the “education-num” field?

In [3]:
adults = adults.sort_values(by= 'education-num').reset_index()
temp = adults['education-num']

In [4]:
def find_quartile():
    count = adults['education-num'].count()
    q1 = (count+1) * 1 / 4
    q2 = (count+1) * 1 / 2
    q3 = (count+1) * 3 / 4
    return q1, q2, q3

In [5]:
q1, q2, q3 = find_quartile()
q1 = temp.iloc[int(q1)]
q2 = temp.iloc[int(q2)]
q3 = temp.iloc[int(q3)]

In [6]:
print("25th Percentile of Education-Num: ", q1)
print("50th Percentile of Education-Num: ", q2)
print("75th Percentile of Education-Num: ", q3)

25th Percentile of Education-Num:  9
50th Percentile of Education-Num:  10
75th Percentile of Education-Num:  12

## What is the probability that an adult makes more than 50k given that their education-num is within the ranges defined by the above quantiles

In [73]:
temp = adults[['income', 'education-num']]
wealthy = temp[temp['income'] == '>50K']['education-num'].reset_index()
count = temp[temp['income'] == '>50K']['education-num'].reset_index().count()
q1_income = wealthy[wealthy['education-num'] <= 9]['education-num'].count()
q2_income = (wealthy[wealthy['education-num'] > 9]) & (wealthy[wealthy['education-num'] <= 10])
q3_income = (wealthy[wealthy['education-num'] > 10]) & (wealthy[wealthy['education-num'] <= 12])
q4_income = wealthy[wealthy['education-num'] > 12]['education-num'].count()
q1_income = (q1_income / count) * 100


q4_income = (q4_income / count) * 100
print("Probability of making >50K with 0 to 8 years of education: ", q1_income['education-num'])


print("Probability of making >50K with 12 to 16 years of education: ", q4_income['education-num'])

TypeError: unsupported operand type(s) for &: 'float' and 'float'